<form method="post" action="">
	<p><input type="password" name="new_password" placeholder="new password"></p>
	<p><input type="password" name="confirm_new_password" placeholder="confirm new password"></p>
	<input type="submit" value="Change" class="button">
</form>