<h1>Please enter your email</h1>

<form method="post" action="/users/send_recovery_email">
	<p><input type="text" name="email" placeholder="your email?"></p>
	<p><input type="submit" value="Reset" class="button"></p>
</form>